@use "../../styles/variables" as *;

.about {
  &__content {
    margin: 10vw;
  }
  &__subheading {
    margin-bottom: 2vh;
  }

  &__text {
    margin-bottom: 2vh;
    line-height: 1.5;
  }

  &__image {
    width: 80vw;
  }

  &__yellow {
    background-color: $color-yellow;
    margin: unset;
    width: 100vw;
  }
}
