@use "../../styles/variables" as *;

.image-container {
  height: 12.5rem;
  width: 100vw;
  padding-left: 3rem;
  padding-top: 3.5rem;
}

.register-page {
  &--heading {
    font-family: $modern-header;
    font-size: 2.25rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    color: $color-charcoal;
  }
}
