@use "../../styles/variables" as *;

.Button {
  &--default {
    width: 19.4375rem;
    height: 4.125rem;
    border-radius: 0.3125rem;
    background: #b42004;
    color: #fff;
  }

  &--secondary {
    width: 19.4375rem;
    height: 4.125rem;
    border-radius: 0.3125rem;
    background: #e4e5f0;
    color: #5f6068;
  }
}
