@use "../../styles/variables" as *;

.button--container {
  display: flex;
  justify-content: center;
  font-family: $modern-header;
}

.button {
  width: 19.4375rem;
  height: 4.125rem;
  border-radius: 0.3125rem;
  background: $color-red;
  color: $color-white;

  &--secondary {
    background: $color-light-grey;
    color: $color-dark-grey;
  }
}
