@use "../../styles/variables" as *;

.Button {
  &--default {
    width: 19.4375rem;
    height: 4.125rem;
    border-radius: 0.3125rem;
    background: $color-red;
    color: $color-white;
  }

  &--secondary {
    width: 19.4375rem;
    height: 4.125rem;
    border-radius: 0.3125rem;
    background: $color-light-grey;
    color: $color-dark-grey;
  }
}
