@use "../../styles/variables" as *;

.event-form {
  display: flex;
  flex-direction: column;
  &__button {
    padding: 1rem;
  }
  &__event-description {
    width: 100%;
    height: 20vh;
    overflow: scroll;
    border: none;
    border-radius: 1rem;
    text-align: left;
    padding: 0.5rem;
    background-color: $color-off-white;
    font-size: 0.7rem;
    outline: none;
    resize: none;
  }
  &__event-description--label {
    padding: 0.1rem;
    font-size: 0.7rem;
    font-weight: 500;
  }
  &__images--button {
    margin: auto;
    display: flex;
  }
  &__image-input {
    padding: 0.7rem;
    padding: 0.3rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 20px;
    background-color: $color-off-white;
    width: 90%;
    width: 100%;
    margin-bottom: 1rem;
    &:active,
    &:focus {
      outline: none;
    }
  }
  &__image-response {
    font-size: 0.9rem;
  }
  &__gallery {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 1rem;
    &--images {
      padding: 0 0.2rem;
    }
    &--image {
      width: 5rem;
      height: 5rem;
      border-radius: 0.5rem;
    }
  }
  &__required {
    color: $color-red;
    font-size: 0.8rem;
    font-style: italic;
    border-top: 1px solid $color-red;
    opacity: 0.8;
  }
  &__submitted {
    z-index: 1;
    height: 110vh;
    width: 100%;
    text-align: center;
    background-color: $color-off-white;
    border-radius: 2rem;
    position: absolute;
    right: 0rem;
    top: 2rem;
    &--text {
      padding: 2rem;
    }
    &--button {
      padding: 2rem;
    }
  }
}
