@use "../../styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.splashPage {
  &__imageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2.5rem;

    img {
      width: 23rem;
    }
  }

  .bold {
    font-weight: 700;
  }

  &__textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &--line1 {
      font-family: "Oswald", sans-serif;
      font-weight: 700;
      font-size: 0.8rem;
      margin-bottom: 0rem;
      margin-top: 3rem;
    }

    &--line2 {
      font-family: $modern-header;
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.5rem;
      margin-top: -0.2rem;
    }

    &--line3 {
      font-family: $modern-content;
      padding-bottom: 2rem;
      display: block;
    }
  }

  &__buttonsContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
