@use "../../styles/variables" as *;

.input-box {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  &__label {
    padding: 0.1rem;
    font-size: 0.7rem;
    font-weight: 500;
  }
  &__input {
    padding: 0.1rem 0.3rem;
    display: flex;
    align-items: center;
    align-self: stretch;
    &--box {
      padding: 0.3rem;
      border: none;
      border-radius: 0.5rem;
      font-size: 0.7rem;
      font-weight: 500;
      line-height: 20px;
      background-color: $color-off-white;
      width: 100%;
      &:active,
      &:focus {
        outline: none;
      }
    }
  }
}
