@use "../../styles/variables" as *;

.header {
  background-color: $color-red;
  padding-top: 6rem;
  width: 100vw;
  height: auto;

  &__content {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__brand {
    color: $color-yellow;
    font-family: $modern-content;
    padding-left: 2rem;
  }

  &__image {
    top: 30vh;
    left: 30px;
    z-index: 2;
    position: absolute;
    height: 25vh;
    width: auto;
  }

  &__image-positioning {
    display: flex;
    justify-content: center;
  }
  &__image-container {
    height: fit-content;
    padding: 0;
    width: auto;
  }

  &__image-container--upper-half {
    background-color: $color-red;
    height: 10vh;
  }

  &__image-container--lower-half {
    background-color: $color-white;
    height: 15vh;
  }

  &__image-positioning {
    display: inline;
  }

  &__title {
    color: $color-white;
    font-family: $modern-header;
    padding-left: 2rem;
  }

  &__subtitle {
    color: $color-white;
    font-family: $modern-content;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }
  &__video {
    top: 28vh;
    left: 5vw;
    z-index: 2;
    position: absolute;
  }

  &__video-positioning {
    display: flex;
    justify-content: center;
  }
  &__video-container {
    height: fit-content;
    padding: 0;
    width: auto;
  }

  &__video-container--upper-half {
    background-color: $color-red;
    height: 15vh;
  }

  &__video-container--lower-half {
    background-color: $color-white;
    height: 15vh;
  }

  &__video-positioning {
    display: inline;
  }
}

@media screen and (max-width: 375px) {
  .header {
    &__video {
      top: 34vh;
      left: 3vw;
    }
  }
}

@media screen and (max-width: 360px) {
  .header {
    &__video {
      left: 1vw;
    }
  }
}
