@use "../../styles/variables" as *;

.header * {
  margin: 0;
  padding: 0;
  height: auto;
}
.header {
  background-color: $color-red;
  padding-top: 4rem;
  width: 100vw;
  height: auto;

  &__content {
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__border {
    padding-bottom: 2.5rem;
  }

  &__brand {
    color: $color-yellow;
    font-family: $modern-content;
    padding-left: 2rem;
    padding-bottom: 1rem;
  }

  &__image {
    top: 34vh;
    left: 30px;
    z-index: 2;
    position: absolute;
    height: 25vh;
    width: 80vw;
    object-fit: cover;
    border-radius: 20px;
  }

  &__image-positioning {
    display: flex;
    justify-content: center;
  }

  &__image-container {
    height: fit-content;
    padding: 0;
    width: auto;
    &--upper-half {
      background-color: $color-red;
      height: 12vh;
    }

    &--lower-half {
      background-color: $color-off-white;
      height: 14vh;
    }
  }

  &__image-positioning {
    display: inline;
  }

  &__title {
    color: $color-white;
    font-family: $modern-header;
    padding-left: 2rem;
    line-height: 2.5rem;
    margin-bottom: 2rem;
  }

  &__subtitle {
    color: $color-white;
    font-family: $modern-content;
    padding-left: 2rem;
    padding-bottom: 2rem;
  }

  &__video {
    height: 240px;
    top: 30vh;
    margin: 0 calc((100vw - 350px) / 2);
    z-index: 2;
    position: absolute;
    border: none;
  }

  &__video-positioning {
    display: flex;
    justify-content: center;
  }

  &__video-container {
    height: fit-content;
    padding: 0;
    width: auto;

    &--upper-half {
      background-color: $color-red;
      height: 16.5vh;
    }

    &--lower-half {
      background-color: $color-off-white;
      height: 15vh;
    }
  }

  &__video-positioning {
    display: inline;
  }

  &__location {
    color: $color-white;
    padding-left: 2rem;
    font-family: $modern-content;
    &--venue {
      font-weight: bold;
      color: $color-white;
    }
  }
}

@media screen and (max-width: 375px) {
  .header {
    &__video {
      top: 44vh;
      left: 3vw;
    }
    &__image {
      top: 43vh;
      left: 30px;
    }

    &__video-container {
      &--upper-half {
        height: 25vh;
      }
      &--lower-half {
        height: 20vh;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .header {
    &__video {
      top: 38vh;
      left: 1vw;
    }
    &__image {
      top: 40vh;
      left: 30px;
    }
    &__video-container {
      &--upper-half {
        height: 22vh;
      }
      &--lower-half {
        height: 20vh;
      }
    }
  }
}
