.calendar {
  &__buttons {
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    padding: 10px;
    font-size: 1.8rem;
    width: 40vw;
  }

  &__image {
    width: 100vw;
  }
}
