
.gallery {
  display: flex;
  justify-content: center;
  margin: auto;
  overflow: auto;
  white-space: nowrap;
  padding: 10px 0;
  .gallery__images--image {
    width: 200px;
    border-radius: 10px 10px;
  }
}