.nav {
  position: fixed;
  bottom: 0;
  margin: 1.25rem;

  &__links {
    display: flex;
    flex-direction: row;
  }

  &__link {
    opacity: 0.25;

    &--active {
      opacity: 1;
    }
  }

  &__image {
    margin: 0.625rem 1.3rem 0.625rem 1.375rem;
  }
}
