.nav {
  position: fixed;
  bottom: 0;
  height: 9vh;

  &__links {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__link {
    opacity: 0.25;

    &--active {
      opacity: 1;
    }
  }
}
